<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bupt.read">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".Config.ReadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bupt.read.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.bupt.read.ui.activity.NewsDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity
            android:name="com.bupt.read.ui.activity.ImageDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.bupt.read.ui.activity.SplashActivity"
            android:label="随阅"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
        android:name="com.bupt.read.ui.activity.SettingsActivity"
        android:label="随阅"
        android:theme="@style/AppTheme.NoActionBar">

    </activity>
        <activity
            android:name="com.bupt.read.ui.activity.MusicPlayActivity"
            android:label="随阅"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <Service
            android:name="com.bupt.read.service.MusicPlayService"
            android:enabled="true"
            android:exported="true"
            >

        </Service>
    </application>

</manifest>
